html,
body {
	margin: 0;
	padding: 0;
	background-color: #000000;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2 {
	color: #eeeeee;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}

h1 {
	font-size: 50px;
}

h2 {
	font-size: 42px;
	font-weight: 400;
}

p {
	color: grey;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 21px;
	text-align: center;
}

a {
	align-items: center;
	color: #5cb8e4;
	font-size: 10px;
}

img {
}

video {
	max-width: 100%;
	height: auto;
}

.video-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
